/* TODO: research if I can add the css specifically only for my HTML that goes into the page */
/* Change to SASS */
#tzc-pop-up {
  position: fixed;
  right: 0px;
  top: 200px;
  color: white;
  font-family: Lato, Arial, sans-serif;
  font-size: 11px;
  line-height: 20px;
}
/* TODO: only have background be white and the width not the button */
#tzc-open-button {
  color: inherit;
  font-size: inherit;
  text-align: left;
  border-radius: 20px 0 0 20px;
  padding: 0px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#tzc-open-button img {
  height: 25px;
  width: 25px;
  border-radius: 20px 20px 20px 20px;
}

#tzc-options-display {
  background-color: #333;
  bottom: 20px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  width: 300px;
}

#tzc-from-tz,
#tzc-to-tz,
#tzc-full-list {
  cursor: pointer;
  width: 100%;
  margin: inherit;
}

#tzc-input {
  box-sizing: border-box;
  width: 100%;
}

.tzc-inputs {
  margin-top: 5px;
  margin-bottom: 5px;
}

#tzc-output-placeholder {
  font-size: 20px;
}

#tzc-close-options-button {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 100%;
  background-color: #ff605c;
}

select {
  cursor: pointer;
}

#tzc-pop-up label {
  display: inline-block;
}

.hidden {
  display: none;
  visibility: hidden;
}
