timezone-converter-container {
  /* Positioning */
  position: fixed;
  right: 0px;
  top: 10px;

  /* Display & Box Model */
  max-width: 375px;

  /* Color */
  color: white;

  /* Text */
  font-family: Lato, Arial, sans-serif;
  font-size: 11px;

  /* Other */

  h2 {
    display: inline-block;
    margin: 0;
    font-size: large;
    text-decoration: underline;
    cursor: default;
  }

  label {
    font-size: medium;
    text-decoration: none;
  }

  hr {
    margin: 20px 0 20px 0;
  }

  .point-down-emoji {
    position: relative;
    top: 5px;
  }

  .tooltip {
    position: relative;

    .tooltiptext {
      position: absolute;
      visibility: hidden;
      top: 30px;
      left: 50px;
      width: 200px;
      z-index: 1;
      padding: 5px;
      border-radius: 6px;
      font-size: 14px;
      background-color: black;
      color: #fff;
    }
  }

  .tooltip:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  #open-options-wrapper {
    height: auto;
    border: solid #333 1px;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    background-color: white;

    #js-open-options {
      display: block;
      padding: 0px;
      border: none;
      border-radius: 20px 0 0 20px;
      background-color: white;
      cursor: pointer;
      user-select: none;
      outline: none;

      img {
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 25px;
      }
    }
  }

  #options-display {
    bottom: 20px;
    padding: 10px;
    background-color: #333;

    div {
      margin: 10px 0 10px;
    }

    select,
    input {
      padding: 5px;
      border: 1px;
      border-radius: 8px;
      cursor: pointer;
    }

    select {
      max-width: 100%;
    }

    #js-close-options {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 16px;
      height: 16px;
      padding: 0px;
      box-sizing: border-box;
      border: 0px;
      border-color: transparent;
      border-radius: 100%;
      background-color: #ff605c;
      cursor: pointer;
    }

    #js-input-manual,
    #js-input-picker {
      display: inline-block;
      width: 85%;
      cursor: text;
    }

    .convert-button {
      padding: 10px;
      width: 100%;
      border-radius: 8px;
      border-color: transparent;
      font-size: 18px;
      background-color: #80c0ff;
      cursor: pointer;
    }

    #js-conversion-output {
      max-width: 100%;
      padding: 10px;
      color: #333;
      font-size: larger;
      background-color: white;
    }
  }

  .hide-timezone-element {
    display: none;
    visibility: hidden;
  }
}
